@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: #d9e3e9;
  font-family: "Open Sans", sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  max-width: 0.5rem;
  max-height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #ffffff50;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: #25252550;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7f45;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  scroll-behavior: none;
}
.scroll-hidden {
  -ms-overflow-style: none;
}

/* number-input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input.icon-none::-webkit-inner-spin-button,
input.icon-none::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* swiper slider */
.swiper-slide.swiper-slide-active .top-round-style {
  @apply animate-pop-long origin-top-left;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-secondary;
}

.guidance-slider .swiper-button-disabled {
  @apply bg-black bg-opacity-10;
}

@layer base {
  html {
    @apply text-text scroll-p-14 scroll-smooth;
  }
}

@layer components {
  .title {
    @apply text-title font-bold font-poppins;
  }

  .px-custom {
    @apply mx-auto px-[3.5%] lg:px-[2.5%] 2xl:px-[1.5%];
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary;
  }

  .ghost-btn {
    @apply font-semibold px-4 h-12 flex gap-2 justify-center items-center rounded-full active:scale-95 animate-pop transition-all;
  }

  .gradient-btn {
    @apply bg-gradient-to-r from-secondary to-secondary px-7 h-12 flex gap-2 justify-center items-center rounded-full active:scale-95 animate-pop transition-all;
  }

  .primary-btn {
    @apply bg-secondary text-white font-semibold px-7 h-12 flex gap-2 justify-center items-center rounded-full active:scale-95 animate-pop transition-all;
  }

  .primary-btn-sm {
    @apply bg-secondary text-white text-sm font-semibold px-4 h-7 flex gap-2 justify-center items-center rounded-full active:scale-95 animate-pop transition-all;
  }

  .primary-btn-outline {
    @apply bg-transparent outline outline-secondary text-secondary font-semibold px-7 h-12 flex gap-2 justify-center items-center rounded-full active:scale-95 animate-pop transition-all;
  }

  .white-btn-outline {
    @apply bg-transparent outline outline-white text-white px-7 h-12 flex gap-2 justify-center items-center rounded-full active:scale-95 animate-pop transition-all;
  }

  .rounded-btn {
    @apply bg-secondary text-white w-12 h-12 flex gap-2 justify-center items-center rounded-full active:scale-95 animate-pop transition-all;
  }

  .rounded-btn-sm {
    @apply bg-secondary text-white text-sm w-7 h-7 flex gap-2 justify-center items-center rounded-full active:scale-95 animate-pop transition-all;
  }

  .rounded-btn-outline {
    @apply bg-transparent outline w-12 h-12 flex gap-2 justify-center items-center rounded-full active:scale-95 animate-pop transition-all;
  }

  .primary-input {
    @apply px-4 py-2 rounded bg-darkblue focus:outline focus:outline-[#2f3655] border;
  }

  .glass {
    -webkit-backdrop-filter: blur(var(--glass-blur, 40px));
    backdrop-filter: blur(var(--glass-blur, 40px));
    background-color: #000000c9;
  }
}
