.rdp {
  font-size: 1rem;
}

.rdp-caption {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.rdp-caption_label {
  font-size: 1.25em;
  font-weight: bold;
}

.rdp-nav {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #1baba1;
}

.rdp-table {
  width: 100%;
}

.rdp-table .rdp-head tr th {
  padding-bottom: 1em;
}

.rdp-table .rdp-tbody .rdp-row {
  text-align: center;
}

.rdp-table .rdp-tbody .rdp-row td {
  padding: 0.5em;
}

.rdp-table .rdp-tbody .rdp-row .rdp-day {
  padding: 0.5em;
  margin: auto;
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

.rdp-table .rdp-tbody .rdp-row .rdp-day.rdp-day_selected {
  background-color: #eff2f6;
  color: #1baba1;
  font-weight: 700;
}

@media (max-width: 768px) {
  .rdp {
    font-size: 0.5rem;
  }
}
